{% extends 'layout-main.html' %}

{% block title %}{{ graph.name }}{% endblock %}

{% block head %}
  <style>
    #cy {
      position: absolute;
      left: 0px;
      top: 2rem;
      width: 100%;
      height: calc(100% - 2rem - 1px);
      border-top: 1px solid gray;
    }
  </style>
  <script src="/static/cytoscape.min.js"></script>
  {% if mode == 'edit' %}
    <script src="/static/layout-base.js"></script>
    <script src="/static/avsdf-base.js"></script>
    <script src="/static/cytoscape-avsdf.js"></script>
  {% endif %}
  <script src="/static/FileSaver.min.js"></script>
{% endblock %}

{% block menu %}
  {% if mode == 'edit' %}
    <div>
      <a href="/">Отмена</a>
      |
      <a href="#" onclick="return saveGraph()">Сохранить</a>
      |
      <input type="text" id="graphName" value="{{ graph.name }}" required autofocus>
      |
      Разложить:
      <a href="#" onclick="return layoutGraph('breadthfirst')">иерархия</a>
      ,
      <a href="#" onclick="return layoutGraph('avsdf')">круг</a>
      ,
      <a href="#" onclick="return layoutGraph('cose')">силовой-алгоритм</a>
      |
      <a href="#" onclick="return exportJson()">Экспорт</a>
      |
      <a href="#" onclick="return takeScreenshot()">Скриншот</a>
    </div>
  {% else %}
    <div style="display: flex;">
      <span style="flex-grow: 1; text-align: center;">{{ graph.name }}</span>
      <button type="button" onclick="return takeScreenshot()">скриншот</button>
    </div>
  {% endif %}
{% endblock %}

{% block body %}
  {% if mode == 'edit' %}
    <form id="saveForm" method="post" action={{ '/save/%s' % graph._id }}>
      <input type="hidden" name="jsonData" id="jsonData">
    </form>
  {% endif %}

  <div id="cy"></div>

  <script>
    const cy = cytoscape({
      container: document.getElementById('cy'),
      wheelSensitivity: 0.2,
      {% if mode != 'edit' %}
      autoungrabify: true,
      {% endif %}
      elements: {
        nodes: [
          {% for vertex in graph.vertices %}
            {
              data: {id: '{{ vertex.id }}', label: '{{ vertex.label }}'}, 
              classes: ['{{ vertex.class|join("','")|safe }}'],
              position: {x: {{ vertex.x or 0 }}, y: {{ vertex.y or 0 }}},
            },
          {% endfor %}
        ],
        edges: [
          {% for edge in graph.edges %}
            {
              data: {source: '{{ edge.source }}', target: '{{ edge.target }}', label: '{{ edge.label }}'},
              classes: ['{{ edge.class|join("','")|safe }}'],
            },
          {% endfor %}
        ],
      },
      style: [
        {
          selector: 'node',
          style: {
            label: 'data(label)',
          }
        },
        {
          selector: 'node.bargain',
          style: {
            shape: 'rectangle',
            'background-color': 'blue',
          }
        },
        {
          selector: 'node.person',
          style: {
            shape: 'ellipse',
            'background-color': 'crimson',
          }
        },
        {
          selector: 'node.area',
          style: {
            shape: 'hexagon',
            'background-color': 'green',
          }
        },
        {
          selector: 'node.role',
          style: {
            shape: 'pentagon',
            'background-color': 'tomato',
            'text-halign': 'center',
            'text-valign': 'center',
            'text-outline-opacity': 0.7,
            'text-outline-width': 1,
            'text-outline-color': 'white',
          }
        },
        {
          selector: 'node.rank',
          style: {
            shape: 'round-diamond',
            'background-color': 'yellowgreen',
            'text-halign': 'center',
            'text-valign': 'center',
            'text-outline-opacity': 0.7,
            'text-outline-width': 1,
            'text-outline-color': 'white',
          }
        },
        {
          selector: 'node.titul',
          style: {
            shape: 'round-triangle',
            'background-color': 'dodgerblue',
            'text-halign': 'center',
            'text-valign': 'center',
            'text-outline-opacity': 0.7,
            'text-outline-width': 1,
            'text-outline-color': 'white',
          }
        },
        {
          selector: 'edge',
          style: {
            'width': 1,
            'curve-style': 'bezier',
            label: 'data(label)',
            'text-rotation': 'autorotate',
            'text-wrap': 'wrap',
          }
        },
        {
          selector: 'edge.subdivide',
          style: {
            'line-color': 'royalblue',
          }
        },
        {
          selector: 'edge.participate',
          style: {
            'line-color': 'orchid',
          }
        },
        {
          selector: 'edge.locate',
          style: {
            'line-color': 'lightseagreen',
          }
        },
        {
          selector: 'edge.relate',
          style: {
            'target-arrow-shape': 'triangle-backcurve',
            'line-color': 'orangered',
            'target-arrow-color': 'orangered',
          }
        },
        {
          selector: 'edge.settle',
          style: {
            'line-color': 'saddlebrown',
          }
        },
        {
          selector: 'edge.shelter',
          style: {
            'line-color': 'saddlebrown',
          }
        },
        {
          selector: 'edge.rank_role',
          style: {
            'line-color': 'forestgreen',
            'text-rotation': 'none',
            'text-background-opacity': 1,
            'text-background-padding': 1,
            'text-background-shape': 'round-rectangle',
            'text-background-color': 'white',
          }
        },
        {
          selector: 'edge.rank_person',
          style: {
            'line-color': 'forestgreen',
            'text-rotation': 'none',
            'text-background-opacity': 1,
            'text-background-padding': 1,
            'text-background-shape': 'round-rectangle',
            'text-background-color': 'white',
          }
        },
        {
          selector: 'edge.titul_role',
          style: {
            'line-color': 'royalblue',
            'text-rotation': 'none',
            'text-background-opacity': 1,
            'text-background-padding': 1,
            'text-background-shape': 'round-rectangle',
            'text-background-color': 'white',
          }
        },
        {
          selector: 'edge.titul_person',
          style: {
            'line-color': 'royalblue',
            'text-rotation': 'none',
            'text-background-opacity': 1,
            'text-background-padding': 1,
            'text-background-shape': 'round-rectangle',
            'text-background-color': 'white',
          }
        },
        {
          selector: 'edge.regard',
          style: {
            'target-arrow-shape': 'triangle-backcurve',
            'line-color': 'orchid',
            'target-arrow-color': 'orchid',
          }
        },
        {
          selector: 'edge.trans_person',
          style: {
            'line-style': 'dashed',
            'target-arrow-shape': 'triangle-backcurve',
            'line-color': 'orchid',
            'target-arrow-color': 'orchid',
          }
        },
        {
          selector: 'edge.trans_area',
          style: {
            'line-style': 'dashed',
            'line-color': 'saddlebrown',
          }
        },
        {
          selector: 'edge.relate-married',
          style: {
            'line-color': 'forestgreen',
            'target-arrow-color': 'forestgreen',
          }
        },
        {
          selector: 'edge.relate-distant',
          style: {
            'line-color': 'royalblue',
            'target-arrow-color': 'royalblue',
          }
        },
        {
          selector: 'edge.another-bargain',
          style: {
            'line-style': 'dashed',
          }
        },
        {
          selector: 'node.no-titul',
          style: {
            'background-fill': 'radial-gradient',
            'background-gradient-stop-colors': 'white crimson',
            'background-gradient-stop-positions': '30% 40%',
          }
        },
      ],
      {% if graph.layout %}
        layout: {name: '{{ graph.layout }}'},
      {% endif %}
    });

    {% if not graph.layout %}
      cy.layout({name: 'grid'}).run();
    {% endif %}

    {% if mode == 'edit' %}
      function layoutGraph(name) {
        if (name == 'cose') {
          cy.layout({
            name: 'cose',
            nodeRepulsion: (node) => 300*2048,
            nodeOverlap: 300*4,
          }).run();
        } else if (name == 'avsdf') {
          cy.layout({
            name: 'avsdf',
            spacingFactor: 2,
            animate: false,
          }).run();
        } else {
          cy.layout({name: name}).run();
        }
      };

      function saveGraph() {
        const input = document.getElementById('graphName');
        const name = input.value.trim();
        if (!name) {
          input.value = '';
          input.reportValidity();
          return false;
        }

        let data = {name, pos: []};
        cy.nodes().forEach((node) => {
          data.pos.push({
            id: node.id(),
            x: Math.round(node.position().x),
            y: Math.round(node.position().y),
          });
        });

        document.getElementById('jsonData').value = JSON.stringify(data);
        document.getElementById('saveForm').submit();

        return false;
      };

      function exportJson() {
        saveAs('{{ '/export/%s' % graph._id }}', '{{ "%s.json" % graph.name }}');
        return false;
      };
    {% endif %}

    function takeScreenshot() {
      saveAs(cy.png({bg: 'white'}), '{{ "%s.png" % graph.name }}');
      return false;
    };
  </script>
{% endblock %}