{% extends 'layout-main.html' %}

{% block title %}{{ graph.name }}{% endblock %}

{% block head %}
  <style>
    #cy {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="/static/cytoscape.min.js"></script>
{% endblock %}

{% block body %}
  <div id="cy"></div>
  <script>
    const cy = cytoscape({
      container: document.getElementById('cy'),
      wheelSensitivity: 0.25,
      elements: {
        nodes: [
          {% for vertex in vertices %}
            {data: {id: '{{ vertex.id }}', name: '{{ vertex.name }}'}},
          {% endfor %}
        ],
      },
    });
    cy.layout({name: 'circle'}).run();
  </script>
{% endblock %}