{% extends 'layout-main.html' %}

{% block title %}{{ graph.name }}{% endblock %}

{% block head %}
  <style>
    #cy {
      position: absolute;
      left: 0px;
      top: 2rem;
      width: 100%;
      height: 100%;
      border-top: 1px solid gray;
    }
  </style>
  <script src="/static/cytoscape.min.js"></script>
{% endblock %}

{% block menu %}
  <div>
    <a href="/">Отмена</a>
    |
  </div>
{% endblock %}

{% block body %}
  <div id="cy"></div>
  <script>
    const cy = cytoscape({
      container: document.getElementById('cy'),
      wheelSensitivity: 0.25,
      elements: {
        nodes: [
          {% for vertex in vertices %}
            {
              data: {id: '{{ vertex.id }}', name: '{{ vertex.name }}'}, 
              classes: ['{{ vertex.class }}'],
            },
          {% endfor %}
        ],
        edges: [
          {% for edge in edges %}
            {
              data: {source: '{{ edge.source }}', target: '{{ edge.target }}', name: '{{ edge.name }}'},
              classes: ['{{ edge.class }}'],
            },
          {% endfor %}
        ],
      },
      style: [
        {
          selector: 'node',
          style: {
            label: 'data(name)',
          }
        },
        {
          selector: 'node.bargain',
          style: {
            shape: 'rectangle',
            'background-color': 'blue',
          }
        },
        {
          selector: 'node.person',
          style: {
            shape: 'ellipse',
            'background-color': 'crimson',
          }
        },
        {
          selector: 'node.area',
          style: {
            shape: 'hexagon',
            'background-color': 'green',
          }
        },
        {
          selector: 'edge',
          style: {
            'width': 1,
            label: 'data(name)',
            'text-rotation': 'autorotate',
          }
        },
        {
          selector: 'edge.subdivide',
          style: {
            'line-color': 'royalblue',
          }
        },
        {
          selector: 'edge.participate',
          style: {
            'line-color': 'orchid',
          }
        },
        {
          selector: 'edge.locate',
          style: {
            'line-color': 'lightseagreen',
          }
        },
        {
          selector: 'edge.relate',
          style: {
            'curve-style': 'bezier',
            'target-arrow-shape': 'triangle-backcurve',
            'line-color': 'orangered',
            'target-arrow-color': 'orangered',
          }
        },
        {
          selector: 'edge.settle',
          style: {
            'line-color': 'saddlebrown',
          }
        },
        {
          selector: 'edge.shelter',
          style: {
            'line-color': 'saddlebrown',
          }
        },
      ]
    });
    cy.layout({name: 'circle'}).run();
  </script>
{% endblock %}